.place__image {
  width: 100%;
  height: auto;
  max-width: 460px;
  max-height: 460px;
  object-fit: contain;
  grid-area: image;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 330px;
    max-height: 330px;
  }
}

@media screen and (max-width: 620px) {
  .place__image {
    max-width: 620px;
    max-height: 620px;
  }
}
