.place__image {
  width: 100%;
  height: auto;
  max-width: 460px;
  max-height: 460px;
  object-fit: contain;
  grid-area: image;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place__image {
    width: 440px;
    height: 440px;
  }
}

@media screen and (min-width: 621px) and (max-width: 1023px) {
  .place__image {
    width: 330px;
    height: 330px;
  }
}

@media screen and (max-width: 620px) {
  .place__image {
    width: 100%;
    max-width: 620px;
    max-height: 620px;
    object-fit: cover;
    padding: 0;
  }
}
