.place__paragraph {
  max-width: 484px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  grid-area: text;
  margin: 0 0 26px 0;
}

@media screen and (max-width: 1279px) {
  .place__paragraph {
    padding: 0;
    max-width: 50vw;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 620px) {
  .place__paragraph {
    margin: 0 16px 26px 16px;
    max-width: 88vw;
  }
}

@media screen and (max-width: 310px) {
  .place__paragraph {
    margin: 0 auto 26px auto;
    width: 90vw;
  }
}
