.place__paragraph {
  max-width: 484px;
  width: 95%;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  grid-area: text;
  margin: 0 0 26px 0;
}

.place__paragraph:nth-child() {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 456px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 352px;
  }
}

@media screen and (max-width: 620px) {
  .place__paragraph {
    max-width: 600px;
    width: 95%;
    margin: 0 auto 26px auto;
  }
}
