@font-face {
  font-family: "Inter Regular";
  src: url("./Inter-Regular.otf"), url("./Inter-Regular.ttf"),
    url("./Inter-Regular.woff"), url("./Inter-Regular.woff2");
}

@font-face {
  font-family: "Inter Black";
  src: url("./Inter-Black.otf"), url("./Inter-Black.ttf"),
    url("./Inter-Black.woff"), url("./Inter-Black.woff2");
}
