@font-face {
  font-family: "Inter";
  src: url("./Inter.otf"), url("./Inter.ttf"), url("./Inter.woff"),
    url("./Inter.woff2");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-ExtraBold.otf"), url("./Inter-ExtraBold.ttf"),
    url("./Inter-ExtraBold.woff"), url("./Inter-ExtraBold.woff2");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: url("./Inter-Bold.otf"), url("./Inter-Bold.ttf"),
    url("./Inter-Bold.woff"), url("./Inter-Bold.woff2");
  font-weight: 700;
}
