@import url("./__title/cover__title.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__overlay/cover__overlay.css");
@import url("./__background/cover__background.css");

.cover {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: var(--offWhite);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .cover {
    max-width: 767px;
    max-height: 480px;
    margin-bottom: 0;
  }
}
