@import url("./__title/place__title.css");
@import url("./__image/place__image.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__link/place__link.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__paragraph/_size/place__paragraph_size_small.css");

.place {
  width: auto;
  max-width: 984px;
  height: auto;
  margin: 0 auto 80px auto;
  padding: 0;
  display: grid;
  grid-template-columns: max-content minmax(200px, 484px);
  grid-template-rows: repeat(2, auto);
  justify-content: center;

  gap: 48px 40px;
  grid-template-areas:
    "title link"
    "image text";
}

@media screen and (max-width: 1279px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    margin: 80px 24px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    margin: 0 24px 73px 24px;
    max-width: 720px;
  }
}

@media screen and (max-width: 620px) {
  .place {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 49px auto;
  }
}
