@import url("./__title/place__title.css");
@import url("./__image/place__image.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__link/place__link.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__paragraph/_small/place__paragraph_small.css");

.place {
  max-width: 100%;
  margin: 0 0 80px 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, calc(1fr - 40px)));
  grid-template-rows: repeat(2 auto);
  gap: 48px 40px;
  grid-template-areas:
    "title link"
    "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    margin: 0 24px 73px 24px;
  }
}

@media screen and (max-width: 620px) {
  .place {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto 49px auto;
  }
}
